* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $font-a

*, ::after, ::before
    box-sizing: border-box

.body
    background-color: #EEE
    position: absolute
    top: 0
    width: 100%
    overflow-x: hidden

.main
    margin-top: 60px
    width: 100%

// * + *
//     margin-top: $margin-top

.h1
    text-align: center

button
    cursor: pointer

.center
    margin-left: auto
    margin-right: auto
    display: block

a
    position: relative
    color: inherit
    text-decoration: none
    line-height: 1.5

    &:hover::before
        background: #888

    &:hover
        color: #666

a::before
    content: ""
    position: absolute
    top: 95%
    width: 100%
    left: 0
    height: 3px
    border-radius: 2px
    background: linear-gradient(130deg, $b, $c)

.hidden
    display: none
    visibility: hidden

.width
    &.third
        width: 33%

// mobile
@media (pointer: coarse)
    html
        font-size: 20pt