* 
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $font-1

body
    background-color: #EEE
    position: absolute
    top: 0
    width: 100vw

// * + *
//     margin-top: $margin-top

.h1
    text-align: center

button
    cursor: pointer

.center
    margin-left: auto
    margin-right: auto
    display: block

.width
    &.third
        width: 33%

// mobile
@media (pointer: coarse)
    html
        font-size: 20pt