.flex
    display: flex
    align-content: center
    align-items: center
    justify-content: space-evenly


    &.row
        flex-direction: row
    
    &.column
        flex-direction: column

    &.start
        justify-content: start
    
    &.end
        justify-content: end

    &.space-between
        justify-content: space-between

    &.space-arround
        justify-content: space-arround

    &.space-evenly
        justify-content: space-evenly

    *
        margin-top: 0