.font
    &.title
        font-family: $font-title
    
    &.bold
        font-weight: bold

    &.color
        &.gray
            color: #444
        &.white
            color: white
        &.black
            color: black
        &.purple
            color: purple
        &.light
            color: #ccc
        &.orange
            color: orange
        &.yellow
            color: yellow
        &.green
            color: green
        &.light-green
            color: #299653
        &.a
            color: $a
        &.b
            color: $b
        &.c
            color: $c
        &.d
            color: $d

    &.size
        &.small
            font-size: 0.8rem
        
        &.medium
            font-size: 1rem
        
        &.bigger-medium
            font-size: 1.3rem

        &.big
            font-size: 1.5rem

        &.bigger
            font-size: 2rem

        &.biggest
            font-size: 4rem