@property --opacity 
    syntax: '<percentage>'
    initial-value: 0%
    inherits: false

.index
    background: linear-gradient(-215deg, #{$a}99 0%, #{$c}55 100%);
    margin-top: -5rem
    padding-top: 3rem
    // position: absolute
    // top: 0
