@property --opacity 
    syntax: '<percentage>'
    initial-value: 0%
    inherits: false

.index
    .logo
        position: sticky
        top: 2rem

    .headline
        margin-top: 0rem
        margin-bottom: -3rem
        position: relative
        height: 10rem
        display: flex
        justify-content: center

        div
            position: relative
            font-size: 3rem
            display: inline-block
            height: 5rem
            color: white
            // background: $bg
            padding: 0 1rem


        &::before
            content: ""
            position: absolute
            top: 3rem
            left: 35vw
            height: 30vw
            width: 30vw
            border-top-left-radius: 50%
            border-top-right-radius: 50%
            border-top: 2px solid $d

    .amounts
        margin-top: 2rem
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-areas: "competition competition" "result athlete"
        padding: 1rem 10%
        font-size: 1.5rem
       

        & > div
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 7rem
            height: 7rem
            margin-left: auto
            margin-right: auto
            border-radius: 50%
            // box-shadow: inset 0px 0px 10px 10px #CCC
            position: relative
            box-sizing: content-box
            // transition: all 0.2s
            animation: bubble 4s 0.5s both linear
            background: conic-gradient(#555 0% var(--opacity), $bg var(--opacity) 100%)

    .amounts__country, .amounts__race
        display: none !important
    
    .amounts__country
        grid-area: country
    .amounts__race
        grid-area: race
    .amounts__result
        grid-area: result
        animation: fromLeft 1.25s forwards
    .amounts__athlete
        grid-area: athlete
        animation: fromRight 1.5s forwards
    .amounts__competition
        grid-area: competition
        animation: fromTop 1s forwards

    .subtitle
        margin-top: 3rem
        position: relative

        .text
            display: inline-block
            margin-left: 50%
            // padding: 0 1rem
            margin-top: 3rem
            transform: translateX(-50%)
            text-align: center
            font-size: 1.2rem
            background: $bg
            position: relative

        // &::before'
        //     content: ""
        //     position: absolute
        //     top: 50%
        //     left: 0
        //     right: 0
        //     height: 2px
        //     background: linear-gradient(90deg, #0000 0%, $d 50%, #0000 100%)'

    .content
        // background: $bg
        min-height: 100vh
        padding-top: 1rem

@keyframes bubble
    0%
        --opacity: 0%
    80%
        --opacity: 100%
        box-shadow: inset 0px 0px 0px 0px $c
    85%
        --opacity: 100%
        box-shadow: inset 0px 0px 10px 10px #CCC, 0px 0px 0px 0px #000
        color: white
    100%
        --opacity: 100%
        box-shadow: inset 0px 0px 40px 100px #CCC, 4px 4px 31px 9px #{$c}66
        color: black

@media only screen and (max-width: 600px)
    .index
        .headline
            margin-top: 2rem
            margin-bottom: -6rem
            div
                font-size: 2rem
            &::before
                width: 90vw
                height: 90vw
                left: 5vw