.performance

    $imgOutline: #314fa0
    $background: #071b52

    background: $background
    margin-top: -5rem
    padding-top: 4rem
    padding: 3rem
    overflow: hidden

    .upper-section
        display: grid
        grid-template-columns: 1fr 1fr

        > div
            display: flex
            justify-content: center
            align-items: center

        .pc-upload
            display: none

        @media screen and (min-width: 60rem)
            display: block

            > div
                margin-bottom: 1rem

            .mobile-upload
                display: none

            .pc-upload
                display: flex

    .list
        display: grid
        gap: 1rem
        grid-template-columns: 1fr

        @media screen and (min-width: 35rem)
            grid-template-columns: 1fr 1fr

        @media screen and (min-width: 60rem)
            grid-template-columns: 1fr 1fr 1fr

        @media screen and (min-width: 80rem)
            grid-template-columns: 1fr 1fr 1fr 1fr

        .btn.plus
            display: none

    .profile-img
        width: 13rem
        height: 13rem
        border-radius: 100%
        overflow: hidden
        border: 0.4rem solid $imgOutline
        max-width: 40vw
        max-height: 40vw

        img
            object-fit: cover
            width: 100%
            height: 100%
            transform: scale(0.95)
            border-radius: 100%
            transition: transform 0.2s

        &:hover img
            transform: scale(1)

    .username
        font-size: 1.5rem

    .realname
        color: #aaa

    .goals-wrapper
        justify-content: end !important

    .goals
        border-radius: 1.5rem
        border: 0.2rem solid white
        padding: 1rem
        padding-right: 2.5rem
        transform: translateX(4.5rem)

        @media screen and (min-width: 60rem)
            transform: translateX(0)

        .number
            color: orange
            font-size: 1.5rem

    .lower-section
        margin-top: 3rem

    .athlete
        background: #2c4288
        border-radius: 1.5rem
        padding: 0.2rem
        margin-bottom: 1rem
        
        .info
            display: flex
            gap: 1rem
            align-items: center

        .profile-img
            width: 3rem
            height: 3rem
            object-fit: cover
            border-radius: 100%
            border: none

        .name
            flex-grow: 100

            img
                width: 3.5rem
                height: 3.5rem
                filter: invert(0.8)
    
        .status
            // position: absolute

        .uploads
            text-align: center
            padding: 0.5rem

        button
            color: white
            padding: 0.5rem
            border: 0.3rem solid #ccc
            background: #0000
            border-radius: 1rem
        
        .remove-btn
            border-color: #f006

        .remove-admin-btn
            border-color: #c406

        .make-creator-btn, .make-admin-btn
            border-color: #0f06
    
    .highlight
        outline: 0.75rem solid #e77e1c
        transition: outline 0.2s

    .performance-category
        padding: 0.5rem
        border-radius: 1rem
        border: 0.3rem solid #2f5597
        color: #fff
        width: 15rem
        transition: border 0.1s

        &.active, &:hover
            border-color: #fff

        .top
            display: flex
            justify-content: space-between
        .records
            color: #aaa
        .best, .name

    .editable-input, .editable-textarea
        background: #0000
        border: none
        outline: none
        color: white

    textarea
        width: 100%

    .edit-img
        width: 2rem
        height: 2rem
        filter: invert(0.9)

    .your-record
        border: 0.3rem solid white
        padding: 1rem 1rem
        border-radius: 1rem

    .records-amount
        color: #7493f0
        background: #5555
        padding: 0.5rem
        border-radius: 0.5rem

    .description

    .record
        color: orange
        font-size: 1.5rem

    .your-goal-label
        color: #5f79c4

    .your-goal

    .performance-input
        border: none
        background: #2c4288
        border-radius: 0.5rem
        padding: 1rem
        color: white
        width: 100%

    .performance-label
        display: block
        color: #5f79c4
        margin-bottom: 0.5rem

    .results-options
        display: grid
        grid-template-columns: 1fr 1fr
        gap: 1rem

        input[type="radio"]
            display: none

            &+label
                background: #2c4288
                border-radius: 0.5rem
                border: 0.4rem solid #0000
                transition: border 0.2s
                text-align: center
                padding: 0.2rem 0.5rem

            &:checked+label
                border: 0.4rem solid #fff
                background: #213166

    .tabel-record
        background: #2c4288
        border-radius: 1rem
        padding: 1rem
        margin-bottom: 1rem
        max-width: 30rem
        flex-grow: 100
        width: 100%

        .top
            display: flex
            flex-direction: row
            justify-content: space-between

    .flex-mobile
        display: flex
        flex-direction: column
        align-items: stretch
        gap: 1rem

        & > div:last-child
            overflow: hidden
        
        & > div:last-child
            flex-grow: 100


        @media screen and (min-width: 60rem)
            flex-direction: row
        
            & > div:first-child
                width: 20rem
                background: #333A
                border-top-right-radius: 1rem
                border-bottom-right-radius: 1rem
                // border: 0.5rem solid #3336
                border-bottom: none
                border-left: none
                min-height: 60vh

            & > div:last-child
                // width: 100%

            & > div
                // background: #071e5c

                padding: 2rem

    canvas
        width: 100%

    .performance-group-config
        margin-left: auto
        margin-right: auto
        max-width: 30rem

        .head
            background: #0003
            font-size: 1.2rem
            padding: 1rem
            border-top-left-radius: 1rem
            border-top-right-radius: 1rem

    @media screen and (min-width: 60rem)
        padding: 0
        padding-top: 4rem

    .progress
        width: 100%
        padding: 0.5rem
        border-radius: 1rem
        background: #2c4288
        display: flex
        align-items: center
        gap: 1rem
        
        .progress-bar-background
            flex-grow: 100
            border-bottom: 0.3rem solid #ccc
            animation: progress-bar-start 0.5s 0.5s both
            animation-easing: easeInOutCirc
            transform-origin: left
            
        .progress-bar
            border-bottom: 0.5rem solid #00b0f0
            max-width: 100%
            transform: skewX(-45deg) translateX(0.25rem)
            animation: progress-bar-start 0.8s 0.5s both
            animation-easing: easeInOutCirc
            transform-origin: left

@keyframes progress-bar-start
    from
        transform: scaleX(0) skewX(0)
    to
        transform: scaleX(1) skewX(-25deg) translateX(0.1rem)