.speaker
    width: 100vw
    display: flex
    align-items: center
    flex-direction: column

    select
        max-width: 8rem

    .path
        margin: 0.3rem !important

    .form
        // z-index: 1
        // position: sticky
        // top: 4rem
        padding: 1rem
        background: #3335
        border-radius: 0.2rem
        select
            width: 8rem
            text-overflow: elipses

    // .profile .profile__name
    //     font-size: 1rem

    .profile__wrapper.min
        margin-top: 0.1rem
        height: 2rem

        .profile
            height: 2rem

        .profile__name
            line-height: 2rem
        
        .profile__image, .profile__special
            width: 2rem
            height: 2rem
            line-height: 2rem

    .form
        font-size: 1rem
        margin-left: auto
        margin-right: auto
        p
            display: flex
            justify-content: space-between
            gap: 2rem


    .result
        width: 100%

    .speaker-table
        padding-bottom: 10rem
        display: block;
        overflow-x: auto;
        overflow-y: auto
        white-space: nowrap;
        // width: 100vw
        border-collapse: collapse
        td
            text-align: center
            padding: 0.0rem 0.1rem
            font-size: 0.9rem

        td:not(:nth-child(1))
            border-left: 1px solid #444

        tr:nth-child(even)
            background-color: #333

    .details
        font-size: 1.1rem
        color: white
        top: 100%
        left: 100%
        position: absolute
        background: #000A
        backdrop-filter: blur(4px)
        border: 1px solid #000
        border-radius: 0.5rem
        padding: 1rem
        z-index: 100
        // pointer-events: none

    .detail-toggle
        background: white
        padding: 0.2rem
        border: none