// This file is intended for only (color) variables

// colors
$a: #ff50e2
$b: #4047ce
$c: #55a7f3
$d: #22b7b9
$e: #26f865

//background
$bg: #333

$font-color: #DDD

// Fonts
$font-a: 'Poppins', sans-serif

