// This file is intended for only (color) variables

// colors
// $a: #ff50e2
// $b: orange
// $c: #22b7b9
// $d: #26f865

$a: #47135f
$b: #0d284d
$c: #25746d
$d: #2f4a5c

// $a: #7f26a8
// $b: #2b0d29
// $c: #222b50
// $d: #2f4a5c

// $a: #FA48EA
// $b: #A855D9
// $c: #556ED9
// $d: #62BEFC


// Monochrom
// $a: #0d2d41
// $b: #507286
// $c: #1f76a8
// $d: #36596e

$header-color: $a
//background
// $bg: #222222
$bg: #151515

$font-color: #DDD

// Fonts
$font-a: 'Poppins', sans-serif
// $font-a: 'Kalam', cursive
// $font-title: 'Major Mono Display', monospace
$font-title: 'Playfair Display', serif