.athlete-search
    .preview
        display: flex
        flex-direction: column

    .select-row
        width: 100%
        display: flex
        flex-direction: column
        align-items: start
        border-bottom: 3px solid #000

        label
            width: 100%

    .prev-info
        // min-width: 18rem
        padding: 1rem
        padding-left: 10rem
        background: #333
        color: white
        font-size: 1.1rem
        width: 100%
        display: flex
        justify-content: space-between


    .res
        display: flex
        align-items: center
        
        label
            align-items: center
            display: flex

        label > *
            margin-right: 1rem

    .best
        background: #489941

    .profile-img
        width: 3rem
        height: 3rem
        border-radius: 100%
        border: 3px solid $a
        object-fit: cover