.best-times
    display: flex
    align-items: start
    flex-direction: row
    overflow: hidden
    position: relative

    & > div
        display: grid
        grid-template-columns: 1fr 1fr

        h2
            grid-column-start: 1
            grid-column-end: 3
            color: white
            font-size: 2rem

    &.max
        max-height: none
        
        &::after
            display: none

    h2
        text-align: center
        color: #aaa
        margin-bottom: 1rem

    .long
        padding-left: 2rem
        border-left: 1px solid #333

    .time
        padding: 1rem
        display: flex
        min-height: 1.5rem
        line-height: 1.5rem
        font-size: 1rem

        div
            color: #a8fabc

        div:first-child
            font-size: 1.2rem
            color: white

        div:last-child
            color: white
            font-size: 1rem
            text-align: center
        
        &:not(.time:last-child)
            border-bottom: 1px solid #333

        div:last-child
            min-width: 8rem
            text-align: right

@media screen and (max-width: 60rem)
    .best-times
        flex-direction: column
        width: 100%

        .time
            padding: 0 1rem

        & > div
            width: 100%
        
        .long
            padding-left: 0
            border-left: none

@media screen and (max-width: 40rem)
    .best-times > div
            display: grid
            grid-template-columns: 1fr