.data-dropdown
    z-index: 10
    position: absolute
    background: white
    border: 1px solid #888
    width: auto
    font-size: 1rem

.data-dropdown__entry
    border-bottom: 1px solid #AAA
    padding: 5px
    transition: filter 0.1s
    filter: brightness(1)
    background-color: #FFF

    &:hover
        filter: brightness(0.8)

.data-dropdown__name
    border-bottom: 2px solid #888888
    padding: 3px 0
    font-size: 1.1rem