.files
    .folder, .file
        padding: 0.5rem
        display: block
        border-top: 1px solid #5f6368
        width: 100%
        display: flex
        justify-content: start
        align-items: center
        
        &:first-child
            border-top: none

        i
            margin-right: 1rem
            color: #5f6368
            text-shadow: none

        &::before
            display: none

.absolute
    position: absolute
    top: 0
    left: 0
    rght: 0
    bottom: 0

.img-display
    // overflow-x: hidden
    // overflow-y: hidden
    display: flex
    position: sticky
    top: 0
    // max-width: 80vh
    width: calc(100vw - 20rem)
    margin-left: 10rem
    min-height: 45vw
    background: $bg
    z-index: 1000000000000
    opacity: 0
    transition: opacity 0.2s
    pointer-events: none
    // height: 0

    i
        background: #3336
        transition: background 0.2s
        border-radius: 50%
        width: 1.3em
        height: 1.3em
        text-align: center
        line-height: 1.3em

        &:hover
            background: #4285f4

    img
        -webkit-user-select: none
        -khtml-user-select: none
        -moz-user-select: none
        -o-user-select: none
        object-fit: contain
        user-select: none
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        // left: 0
        // right: 0
        max-width: calc(100vw - 20rem)
        // height: auto
        max-height: 100vh

    .toggle-persons
        position: absolute
        top: 1rem
        left: 1rem
        background: none
        border: none
        color: white


    .persons
        color: black
        background: #fff
        padding: 2rem
        position: absolute
        top: 0
        left: 0
        min-height: 60vh
        opacity: 0
        transition: transform 0.2s, opacity 0.1s
        transform: translateX(-120%)

        &.visible
            opacity: 1
            pointer-events: all
            transform: translateX(0)

        .close-persons-btn
            position: absolute
            top: 0.0rem
            right: 0.5rem
            color: black

    .download
        position: absolute
        top: 1rem
        right: 5rem
        font-size: 2rem

    .close-btn
        position: absolute
        top: 1rem
        right: 1rem
        background: #0000
        color: white
        border: none
        font-size: 2rem

    .prev, .next
        position: absolute
        font-size: 3rem
        background: #0000
        border: none
        top: 50%
        color: white
    
    .prev
        left: 1rem

    .next
        right: 1rem

    .name
        position: absolute
        text-align: center
        left: 0
        right: 0
        // bottom: 0
        top: 0.2rem
        color: white
        font-size: 0.8rem

    &.visible
        opacity: 1
        pointer-events: all
        outline: 8000px solid #000B

.vanish-to-left
    animation: vanish-to-left 0.4s 0.0s ease-in forwards

.vanish-to-right
    animation: vanish-to-right 0.4s 0.0s ease-in forwards

.top-3-images
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 1rem

    img
        width: 100%
        transition: transform 0.2s
    
    img:hover
        transform: scale(1.3)

@media screen and (max-width: 50rem)
    .img-display
        margin-left: 0
        width: 100vw
        top: 0
        img
            // width: 100vw
            max-width: 100vw


    .visible
        outline: none !important

    .top-3-images
        grid-template-columns: 1fr

@keyframes vanish-to-left
    from
        transform: translateX(0)
        opacity: 1
    to
        transform: translateX(-200%)
        opacity: 0

@keyframes vanish-to-right
    from
        transform: translateX(0)
        opacity: 1
    to
        transform: translateX(200%)
        opacity: 0