.header
    display: grid
    grid-template-columns: 2fr 3fr 2fr
    height: 3rem
    position: fixed
    width: 100%
    margin: 0
    z-index: 100

    .left a
        display: flex
        align-items: center
        font-size: 1.3rem
        height: 50px
        text-decoration: none
        color: #333

        i
            margin-right: 10px

    .right
        display: flex
        align-items: center
        height: 50px