//style for profiles for documentation go to lib.js - Profile class
.profile__wrapper
    background: $c
    border-radius: 25px
    margin: 5px

.profile
    background: $c
    border-radius: 20px
    overflow: hidden
    transition: all 0.1s
    position: relative
    transform: scale(1)

    // initial visibility:
    & > *
        display: none
    
    //after
    &::after
        content: ''
        background: url("/img/arrow-down.png") no-repeat
        position: absolute
        background-position: center
        background-size: 30px auto
        display: block
        top: 50px
        left: 0
        right: 0
        height: 30px
        animation: go-up 1s infinite alternate
        filter: invert(1)
        transition: all 0.1s


// wrapper dimensions
.profile__wrapper
    &.min
        width: 300px
        height: 50px
    &.card
        width: 300px
        height: 500px
    &.max
        width: 100vw
        height: 100vh

// mini block only containing the image, name and one special information
// dimensions 300px * 50px
.profile.min
    // dimensions
    width: 300px
    height: 50px

    background: linear-gradient(90deg,$b 20%, $e 110%)

    .profile__name, .profile__image, .profile__special
        display: blocK

    .profile__primary
        display: none

    //layout
    .profile__image
        width: 45px
        height: 45px
    
    .profile__name
        position: absolute
        left: 50px
        right: 0
        top: 0
    
    // hover
    &:hover
        height: 80px
        z-index: 2

    &:active
        height: 150px
        
        
        &::after
            height: 75px


// card containing the image and all simple information 
// dimensions 300px * 500px
.profile.card
    // dimensions
    width: 300px
    height: 500px
    position: relative
    z-index: 1
    background: linear-gradient(0deg,$b 0%, $e)
    color: white

    // visibility
    .profile__name, .profile__image, .profile__special, .profile__left, .profile__right, .profile__minimize, .profile__trophy-1, .profile__trophy-2, .profile__trophy-3, .profile__maximize
        display: blocK
    
    // top color
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 150px
        background: radial-gradient(circle at bottom, $b 40%, #000 170%)
        transform: skewY(-2deg)
        transform-origin: left

    .profile__name
        position: absolute
        left: 0
        right: 0
        top: 0
        line-height: 40px
        font-size: 1.3rem
        text-align: center

    // img
    .profile__image
        width: 120px
        height: 120px
        top: 70px
        left: 75px
        border-width: 10px

        &:hover
            width: 140px
            height: 140px
            border-width: 0

    .profile__left
        position: absolute
        top: 100px
        left: 20px
        animation: go-right 0.3s 0s backwards

    .profile__right
        position: absolute
        top: 95px
        right: 30px
        font-size: 1.57em
        animation: go-left 0.3s 0s backwards

    .profile__trophy-1
        top: 50
        left: 65

    .profile__trophy-2
        top: 40
        left: 122

    .profile__trophy-3
        top: 50
        right: 75
    
    .profile__primary
        margin-top: 225px
        padding-left: 30px
        padding-right: 30px

    .profile__minimize
        position: absolute
        top: 440px
        left: 20px
        right: 20px
        height: 40px

        button
            width: 100%
            height: 100%

    .profile__maximize
        position: absolute
        width: 100%
        bottom: 0
        left: 0
        right: 0
        height: 50px
        border: none
        opacity: 0
        background: linear-gradient(0deg, #CCC 0%, rgba(0,0,0,0) 100%)
        transition: opacity 0.2s, height 0.2s
        z-index: 2

        &::after
            content: ""
            position: absolute
            left: 130px
            bottom: 10px
            width: 40px
            height: 40px
            background: url("/img/full-screen.svg") no-repeat
            transition: all 0.2s
            opacity: 0.8
            transform: rotate(90deg)

        &:hover
            opacity: 1 !important
            height: 100px

            &::after
                left: 125px
                width: 50px
                height: 50px
                transform: rotate(0)

    // arrow
    &::after
        display: none

    &:hover
        height: 560px
        transform: scale(1.02)

        .profile__maximize
            opacity: 0.3


// maximized view of profile taking up the whole screen showinfg all infor mation and addidional extras like analysis
.profile.max
    // visibility
    & > *
        display: block

    // bounds
    width: 100vw
    height: 100vh//to be removed
    padding-right: 20px //scollbar
    
    //outer
    border-radius: 0
    z-index: 1

    background: linear-gradient(0deg,$b 0%, $e)

    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        height: 250px
        background: radial-gradient(circle at left 150px, $b 40%, #000 170%)
        transform: skewY(-1deg)
        transform-origin: left


    // img
    .profile__image
        width: 180px
        height: 180px
        top: 25px
        left: 25px
        border-width: 10px
        box-shadow: 5px 5px 34px 2px rgba(0,0,0,0.51)

        &:hover
            width: 200px
            height: 200px
            border-width: 0

        &:active
            box-shadow: 5px 5px 50px 2px rgba(0,0,0,0.2)
            width: 400px
            height: 400px
            border-width: 0
            border-radius: 20%

    .profile__trophy-1
        top: 60
        left: 220

    .profile__trophy-2
        top: 110
        left: 230

    .profile__trophy-3
        top: 160
        left: 220

    .profile__trophy .medal
        width: 3.5rem
        font-size: 1.5rem

    .profile__name
        left: 0
        right: 0
        font-size: 1.7rem

    .profile__minimize
        z-index: 1
        position: absolute
        top: 5px
        right: 25px

    .profile__primary
        display: grid
        margin-left: 350px
        margin-top: 10px
        margin-right: 20px
        grid-template-columns: 1fr

    &::after
        display: none

.profile__trophy
    position: absolute
    transition: all 0.2s

.profile__primary
    position: relative
    display: grid
    grid-template-columns: 1fr
    grid-gap: 20px
    z-index: 1
    color: white
    transition: all 0.2s
    
    & > *

.profile__image
    position: absolute
    z-index: 2
    border-radius: 50%
    overflow: hidden
    width: 150px
    height: 150px
    border: 3px solid $b
    transform: scale(1)
    transition: all 0.1s
    box-sizing: content-box

    img
        filter: grayscale(0.2) saturate(0.7)
        width: inherit
        height: inherit
        object-fit: cover
        background: white
    
    &:hover
        border-width: 0

        img
            filter: grayscale(0) saturate(1)

.profile__name
    position: absolute
    text-overflow: ellipsis
    transition: all 0.1s
    text-shadow: 3px 3px 7px #222
    color: white
    font-weight: 500
    font-size: 1.2rem
    line-height: 50px
    text-align: center
    overflow: hidden
    z-index: 1
    white-space: nowrap

.profile__minimize
    transition: top 0.1s, left 0.2s, right 0.2s

@keyframes go-up
    from
        opacity: 0
        transform: translateY(-10px)
    to
        opacity: 1
        transform: translateY(0)

@keyframes go-left
    from
        opacity: 0
        transform: translateX(50px)
    to
        opacity: 1
        transform: translateX(0)

@keyframes go-right
    from
        opacity: 0
        transform: translateX(-50px)
    to
        opacity: 1
        transform: translateX(0)

@keyframes show
    from
        opacity: 0
    to
        opacity: 1