.race.flex
    border-top: 1px solid #7777
    background: #111
    padding: 0.5rem
    // padding: 0.2rem

    &.delimiter
        background: #111
        // color: black

    &.w
        background: #1f1414
    &.m
        background: #142335
    &.Mixed, &.mixed
        background: #0f3015

    &.min
        display: flex
        align-items: center
        font-size: 1.2rem
        height: 2rem

        &::before
            content: "->"

        .place
            margin-left: 1rem

        .medal
            // width: 1.8rem
        
        .medal__amount
            top: 0

    //weird offset fix
    .medal__big, .medal__simple
        left: 0
        top: 0

    .place
        height: 2rem

    .race-table
        overflow-x: auto
        // padding-bottom: 1rem

    .youtube-head
        padding: 0.5rem
        display: flex
        align-items: center
        justify-content: left
        background-color: #333

        i
            transition: color 0.2s
            font-size: 3rem
        
        &:hover i
            color: white

    .youtube-body
        display: flex

        iframe
            margin: 1rem
            height: 20vw

.race--max
    background: #000


.competition-list
    // max-height: 75vh
    color: white
    overflow: visible
    position: relative
    padding: 0.5rem
    background: $bg

    & > div
        min-height: 3.5rem
        // line-height: 3.5rem
        font-size: 1.3rem
        // padding-top: 1rem !important

        border-bottom: 1px solid #777

.races-table
    overflow: auto