// .section
//     background-color: white
//     position: relative
//     transition: all 0.1s
//     // @include clipCap()

//     .content
//         padding: 20px

//         & > *
//             animation: content-fadeIn 0.9s forwards

.section
    padding: 3rem
    padding-top: 2rem
    box-shadow: inset 0px 8px 22px -9px #000000;

    // p
    // font-size: 1.4rem

    & > *
        animation: content-fadeIn 0.9s forwards

    h1, h2, h3, h4, h5
        text-align: center
        margin-bottom: 2rem

    &.dark
        background-color: $bg
        color: white

    &.light
        background-color: #ddd
        color: black
    
    &.no-shadow
        box-shadow: none;

    @media screen and (max-width: 50rem)
        padding: 2rem 0.5rem

@keyframes content-fadeIn
    from
        opacity: 0
        transform: translateY(-20px)
    to
        transform: translateY(0)
        opacity: 1

    